{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Set Your Password | Together Culture</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="membership-container" style="max-width: 500px;">
    <h2>Set Your Password</h2>
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Set Password">
        </form>
    {% else %}
        <p>The password reset link is invalid, possibly because it has already been used.</p>
    {% endif %}
</div>
</body>
</html>
